//breakpoints
$breakpoint: 360px;
$breakpoint2: 768px;
$breakpoint3: 1024px;
$breakpoint4: 1560px;

//colors
$primary_color: #F4E041;
$secondary_color: #00BDD3;
$background_color: #F8F8F8;
$hover_btn_color: #FFE302;

//font
$primary_font: 'Nunito';
$primary_font_weight: 400;
$primary_font_heading_size: 40px;
$primary_font_body_size: 16px;
$primary_font_heading_height: 40px;
$primary_font_body_height: 26px;

//padding
$primary_card_padding: 20px;
$primary_body_padding: 16px;
$sm_card_margin: 20px;
$md_card_margin: 16px;
$lg_card_margin: 29px;